<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/headear.ejs'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Universidad</h1>
                    <p>Una dinámica nueva en capacitación</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h3>Soluciones en Corporate Training</h3>
                    <p>

                        La transformación digital se ha incorporado como pilar estratégico en las empresas de todos los
                        sectores.
                        En Universidad acompañamos a las compañías en este proceso ayudándolas en tres ejes principales:
                        el cambio cultural, la mejora de habilidades y el desarrollo de conocimientos específicos.
                    </p>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>